################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WarCraft2/obj/x86/Debug
/WarCraft2/bin/Windows/x86/Debug
